
# LaTeX build files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml


MOTOR_LECTURA
MOTOR_LIBRE
results*
venv
*.pdf
*.png
*.pptx
*.gz

!TSD_2025_Speech_Language_Retelling/
!TSD_2025_Speech_Language_Retelling/*.pdf
!TSD_2025_Speech_Language_Retelling/*.png